.cards__item {
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.cards__item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 576px) {
    .cards__item {
        margin-bottom: 0;
    }
}